
Presentación proyecto-2020-11-18_13.59.02.mp4
Proyecto TI.zip
Reporte Proyecto/t1.bib
Reporte Proyecto/images/cross.jpg
Reporte Proyecto/images/dist.PNG
Reporte Proyecto/images/fin2d.png
Reporte Proyecto/images/fin3d.png
Reporte Proyecto/images/folds.PNG
Reporte Proyecto/images/inicio2d.png
Reporte Proyecto/images/inicio3d.png
Reporte Proyecto/images/knn.PNG
Reporte Proyecto/Reporte Proyecto TI.aux
Reporte Proyecto/Reporte Proyecto TI.bbl
Reporte Proyecto/Reporte Proyecto TI.blg
Reporte Proyecto/Reporte Proyecto TI.dvi
Reporte Proyecto/Reporte Proyecto TI.log
Reporte Proyecto/Reporte Proyecto TI.synctex.gz
Reporte Proyecto/Reporte Proyecto TI.tex
Reporte Proyecto/Reporte Proyecto TI.toc
